html {
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
}

:root {
  --red: #d1634d;
  --green: #688958;
  --blue: #467599;
  --yellow: #f6bd60;
  --brown: #171413;
  --white: #f8fce6;

  --highlight: var(--green);

  --home: var(--green);
  --now: var(--blue);
  --gallery: var(--yellow);
  --404: var(--red);
}

[data-theme='dark'] {
  --background: var(--brown);
  --primary: var(--white);

  --home: color-mix(in srgb, black, var(--green) 60%);
  --now: color-mix(in srgb, black, var(--blue) 60%);
  --gallery: color-mix(in srgb, black, var(--yellow) 60%);
  --404: color-mix(in srgb, black, var(--red) 60%);

  [data-hidden-in='light'] {
    display: none;
  }
}

[data-theme='light'] {
  --background: var(--white);
  --primary: var(--brown);

  [data-hidden-in='dark'] {
    display: none;
  }
}

[data-page='/'] {
  --highlight: var(--home);
}

[data-page='/now'] {
  --highlight: var(--now);
}

[data-page='/gallery'] {
  --highlight: var(--gallery);
}

body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#page-with-navbar {
  background: var(--background);
  color: var(--primary);
  height: 100%;

  transition: all 0.2s ease-in-out;
  overflow-y: auto;
}