#theme-button {
  --lightordark: var(--white);
  color: var(--lightordark);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    background: var(--lightordark);
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 70%;
    height: 0;
    border-radius: 0 0 2px 2px;
    transition: all 0.2s ease-in-out;
    opacity: 0.9;
  }

  &:hover {
    padding-top: 1em;

    &::after {
      height: 1.5em;
    }
  }
}

[data-theme='dark'] #theme-button {
  --lightordark: color-mix(in srgb, black, var(--white) 60%);
  --themebuttonblur: color-mix(in srgb, transparent, var(--lightordark) 30%);
  // glow
  &::before {
    overflow: visible;
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 0 1em var(--themebuttonblur), 0 0 .5em .5em var(--themebuttonblur);
    animation: moon-glow 4s ease-in-out infinite alternate;
  }
}

@keyframes moon-glow {
  from {
    // box-shadow: inset 0 0 0.5em 1em var(--themebuttonblur), 0 0 0.5em 0.5em var(--themebuttonblur);
    // --themebuttonblur: color-mix(in srgb, black, var(--white) 60%);
    opacity: 0.5;
    transform: scale(1);
  }

  to {
    // box-shadow: inset 0 0 0.5em 1em var(--themebuttonblur), 0 0 0.5em 2em var(--themebuttonblur);
    // --lightordark: color-mix(in srgb, black, var(--brown) 80%);
    opacity: 1;
    transform: scale(1.5);
  }
}