:root {
  --dial-colour: #fca311;
}
#dial-splash-page {
  #clock {
    width: fit-content;
    margin: 1em auto;
    cursor: default;
    transition: color 0.2s ease-in-out;
    color: white;
  
    &:hover {
      color: var(--dial-colour);
    }
  }
  
  .splash {
    margin: 0 auto;
    padding: 1em;
    display: grid;
    max-width: 500px;
    grid-template-columns: 50% 50%;
    aspect-ratio: 1;
    place-items: center;
    width: 100%;
  
    .dial {
      top: 0;
      left: 0;
      width: 50%;
      margin: 15%;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var(--dial-colour);
      transition: background-color 0.2s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(135deg);
  
      > .dial__inner {
        width: 70%;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #14213d;
      }
  
      > .dial__indicator {
        position: absolute;
        top: 8%;
        left: 8%;
        width: 20%;
        aspect-ratio: 1;
        border-radius: 0 50% 50% 50%;
        background-color: var(--dial-colour);
        transition: background-color 0.2s ease-in-out;
      }
    }
  
    .splash__icon {
      cursor: pointer;
      font-size: 10em;
      color: white;
      transition: all 0.2s ease-in-out;
  
      &:hover {
        color: var(--dial-colour);
        filter: blur(1px);
      }
    }
  }
}
