.item-card {
  position: relative;
  aspect-ratio: 4/3;
  border-radius: 3px;
  border: solid 5px black;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  transition: all 0.3s ease-in-out;

  img {
    height:100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    object-fit: contain;
    transition: all 0.3s ease-in-out;

    &.blurred {
      filter: blur(1em);
      width: 150%;
      height: 150%;
    }
  }

  .label {
    padding: 0.5em 1em;
    z-index: 2;
    color: white;
    border-top: 5px solid black;
    background-color: #00000088;

    &.hidden {
      display: none;
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-0.25em);

    img {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}