#home {
  padding: 2em;
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;
  }
}

#home-main-content {
  height: 100%;
  display: flex;
  justify-content: space-between;

  > div {
    padding: 1em;
    &.left-side {
      max-width: 30%;
      height: min-content;
      clip-path: polygon(0 0, calc(100% - 6em) 0, 100% 6em, 100% 100%, 6em 100%, 0 calc(100% - 6em));
      transition: all 0.3s ease-in-out;
      img {
        width: 100%;
        vertical-align: top;

        background-image: url('me-low.jpg');
      }

      &:hover {
        clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
        transform: scale(1.1);
      }
    }

    &.right-side {
      text-transform: uppercase;
      font-family: 'Noto Sans Mono', monospace;
      font-weight: 700;

      h1 {
        text-align: right;
        display: inline-block;
        font-size: 4.5em;
        width: 100%;
        > span {
          margin: 0 0 0 0.45em;
        }
        margin: 0;
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 2em;
        text-align: right;
      }

      > p {
        margin-top: 0.25em;
        line-height: 1;
      }

      #development-carousel {
        height: 2em;
        line-height: 1;
        overflow-y: hidden;

        display: flex;
        justify-content: flex-end;
        gap: 0.6em;

        > #carousel {
          transform: translateY(0);
          animation: development-carousel 5s linear infinite;

          &:hover {
            animation-play-state: paused;
          }
        }
      }
    }
  }
}

[data-device='tiny'],
[data-device='small'] {
  #home-main-content {
    justify-content: end;
    > div {
      &.left-side {
        display: none;
      }
    }
  }
}

[data-device='tiny'] {
  #home-main-content {
    > div {
      &.right-side {
        h1 {
          font-size: 3em;
        }

        p {
          font-size: 1.5em;
        }

        #development-carousel {
          height: 1.5em;
        }
      }
    }
  }
}

@keyframes development-carousel {
  0%,
  16%,
  99.001%,
  100% {
    transform: translateY(0);
  }
  32%,
  50% {
    transform: translateY(-100%);
  }
  66%,
  83% {
    transform: translateY(-200%);
  }
  99% {
    transform: translateY(-300%);
  }
}

[data-page]:not([data-page='/']) {
  #development-carousel #carousel {
    animation-play-state: paused !important;
  }
}