header {
  position: sticky;
  z-index: 1000;
  height: 3.5rem;
  color: var(--COLOR-white);

  .header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--highlight);
  }

  .header-content {
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;

    nav {
      display: flex;
      align-items: stretch;
      flex-grow: 1;

      #menu-toggle {
        height: 100%;
        > svg {
          height: calc(200% / 3);
        }

        @container header (min-width: 430px) {
          display: none;
        }
      }

      ul {
        position: absolute;
        top: 100%;
        left: -100%;
        display: grid;
        padding: 0;
        height: auto;
        width: 100vw;

        margin: 0;
        padding: 0;

        grid-auto-flow: row;
        grid-auto-columns: auto;
        grid-auto-rows: 3rem;
        align-items: center;

        transition: left var(--theme-transition-duration) ease-in-out;
        background-color: var(--highlight);

        > li {
          height: 100%;
          display: flex;
          position: relative;

          font-weight: 600;
          font-size: 1.1rem;
          margin: 0;

          > a {
            padding: 0 1em;
            transition: all var(--theme-transition-duration) ease-in-out;

            display: flex;
            flex-direction: column;
            place-content: center;

            &::before {
              content: '';
              width: 0;
              height: 100%;

              border-radius: 0 4px 4px 0;
              background-color: var(--highlight);

              position: absolute;
              top: 0;
              left: 0;

              transition: var(--theme-transition-duration) ease-in-out;
            }

            &[data-active='true'] {
              margin-left: 1rem;
            }

            &:hover:not([data-active='true']) {
              margin-left: 1rem;

              &::before {
                width: 1rem;
              }
            }
          }
        }

        @container header (min-width: 430px) {
          position: static;
          grid-auto-flow: column;
          grid-auto-rows: auto;
          width: auto;
          background-color: transparent;

          > li {
            margin: 0 auto;
            > a {
              &::before {
                width: 100%;
                height: 0%;

                border-radius: 0 0 4px 4px;
              }

              &[data-active='true'] {
                margin-left: 0;
                margin-top: 20%;
              }

              &:hover:not([data-active='true']) {
                margin-left: 0;
                margin-top: 20%;

                &::before {
                  content: '';
                  display: block;
                  width: 100%;
                  height: 40%;
                }
              }
            }
          }
        }
      }

      &:has(#menu-toggle[data-menu-active='true']) {
        > ul {
          left: 0%;
        }
      }
    }

    button {
      height: 100%;
      display: flex;
      place-content: center;
      flex-wrap: wrap;
      position: relative;

      border: none;
      background: none;
      color: inherit;
      padding: 0;
      cursor: pointer;

      aspect-ratio: 1;
    }

    img.email {
      display: none;
      margin-right: 1rem;

      @container header (min-width: 520px) {
        display: block;
      }
    }

    img.email-icon {
      display: block;

      @container header (min-width: 520px) {
        display: none;
      }
    }

    #theme-toggle {
      aspect-ratio: 13/24;
    }
  }

  container-name: header;
  container-type: inline-size;
}
