#navbar-background-colours {
  position: absolute;
  display: grid;
  grid-template-columns: 100% 100% 100%;
  width: 100%;
  overflow-x: hidden;
  height: 5em;
  transition: all 0.5s ease-in-out, background-color 0.2s ease-in-out;
  pointer-events: none;

  &[data-page='/now'] {
    transform: translateX(calc(-100% / 3));
  }

  &[data-page='/blog'] {
    transform: translateX(calc(-200% / 3));
  }

  > span {
    width: 100%;
    height: 100%;


    &[data-page='/'] {
      background-color: var(--home);
    }

    &[data-page='/now'] {
      background-color: var(--now);
    }

    &[data-page='/blog'] {
      background-color: var(--blog);
    }
  }
}

#navbar {
  background: none !important;
  color: var(--background);
  padding: 0;
  overflow-x: hidden;

  > header {
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    width: 100%;
    padding: 0 1em 0 0;

    > nav {
      height: 100%;
      display: flex;
      align-items: center;
      color: var(--white);

      > #initials {
        margin-right: 1em;
      }

      > ul {
        height: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;

        > li {
          height: 100%;
          width: 100%;
          display: flex;
          > a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: inherit;
            text-decoration: none;
            font-weight: bold;
            padding: 0 1em;
            text-transform: lowercase;
            transition: all 0.2s ease-in-out;
            position: relative;
            user-select: none;

            &::after {
              position: absolute;
              content: '';
              left: 0;
              top: 0;
              width: 100%;
              height: 0;
              border-radius: 0 0 2px 2px;
              transition: all 0.2s ease-in-out;
            }

            &:hover, &[data-active="true"] {
              &::after {
                height: 2em;
              }
            }

            &:hover:not([data-active="true"]),
            &[data-active="true"] {
              padding-top: 1em;
            }

            &[data-active="true"] {
              cursor: default;
            }

            &:not([data-active="true"]) {
              &[data-to="/"]::after {
                background: var(--home);
              }

              &[data-to="/now"]::after {
                background: var(--now);
              }

              &[data-to="/blog"]::after {
                background: var(--blog);
              }
            }
          }
        }
      }
    }
  }
}
