.download-button {
 border: 2px solid #000;

 transition: all 0.2s ease-in-out;

 &:hover {
  cursor: pointer;
  scale: 1.05;
  box-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.5);
 }

 a {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  color: black;
  font-size: 1rem;
  text-decoration: none;
  opacity: 1;

  transition: all 0.2s ease-in-out;
 }
}
