.mouse-follow-effect {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 3px dashed color-mix(in srgb, transparent, var(--background) 50%);
  z-index: 0;
  animation: spin 8s linear infinite;
  pointer-events: none;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}